*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Logo img{
    width: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 72px;
}

.header__left{
    display: flex;
}

i{
    font-size: 30px;
}

.header__middle i{
    margin-left: 20px;
    margin-right: 20px;
}

.header__right i{
    margin-left: 10px;
    margin-right: 10px;
}
